<%-include("header") -%>
<div class="box" id="heading">
  <h1><%= listTitle %></h1>
</div>
<div class="box">
  <% todoItems.forEach(item => { %>
  <form action="/delete" method="post">
    <div class="item">
      <input
        type="checkbox"
        name="checkbox"
        value="<%= item._id %>"
        onChange="this.form.submit()"
      />
      <p><%= item.name %></p>
      <input type="hidden" name="listName" value="<%= listTitle %>" />
    </div>
  </form>
  <% }) %>

  <form class="item" action="/" method="post">
    <input
      type="text"
      name="todoItem"
      placeholder="Add more list"
      autocomplete="off"
      required
    />
    <button type="submit" name="list" value="<%= listTitle %>">+</button>
  </form>
</div>

<!-- <div class="sideBar">
  <h3>List Categories</h3>
  <ul>
    <li><a href="/<%= listTitle %>"><%= listTitle %></a></li>
  </ul>
</div> -->

<%-include("footer") -%>
